body {
	background-image: url(b1.jpg);
}

div {
	width: 350px;
	height: 380px;
	position: absolute;
  	left: 1000px;
  	top: 50px;
  	background-image: url(loadin.jpg);
  	padding: 40px;
  	padding-top: 60px;
  	border-style: solid;
  	border-color: #8fbc8f;
  	border-width: 2px;
  	border-radius: 60px;
}

p {
	font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', 'Î¢ÈíÑÅºÚ', 'ËÎÌå', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
	font-size: 20px;
}

input {
	font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', 'Î¢ÈíÑÅºÚ', 'ËÎÌå', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
	font-size: 25px;
}

.entrance {
	font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', 'Î¢ÈíÑÅºÚ', 'ËÎÌå', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
	font-size: 40px;
}

input.choose:hover {
	background-color: orange;
}